# Pre-commit configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: local
    hooks:
      - id: run-tests
        name: Run Tests
        entry: npm test
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        verbose: true
