# fly.toml app configuration file generated for mcp-server-zfmlcw on 2026-01-10T02:38:14Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mcp-server-zfmlcw'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
